* {
  margin: 0%;
  padding: 0%;
}
#home {
  width: 100%;
  height: 100vh;
  background-color: #d7f5dd;
}
#navbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  /* position: fixed;
    background-color: #d7f5dd;
    z-index: 3; */
}
#firstname {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 50px;
}
#lastname {
  font-size: 30px;
  color: #21b15a;
  font-family: Arial, Helvetica, sans-serif;
}
#nav-pages {
  height: 100%;
  width: 70%;

  display: flex;
  align-items: center;
  justify-content: center;
}
#page {
  list-style: none;
  display: flex;
  gap: 50px;
  font-family: "poppins", sans-serif;
  font-weight: 600;
}
#contact {
  background-color: #21b15a;
  border: none;
  color: white;
  height: 30px;
  width: 100px;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  border-radius: 6px;
  margin-left: 15px;
  font-size: 14px;
}
#mytext {
  height: 400px;
  width: 400px;
  /* background-color: gray; */
  margin-top: 7%;
  margin-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
#hello {
  font-size: 30px;
  padding-top: 10%;
}
#dev {
  font-size: 56px;
}
#role {
  color: #21b15a;
  font-size: 42px;
}
#about-me {
  color: rgb(49, 49, 49);
}
#Resume {
  background-color: #21b15a;
  border: none;
  color: white;
  height: 40px;
  width: 170px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  border-radius: 6px;
  margin-top: 35px;
  font-size: 14px;
}
#main {
  display: flex;
}
#image {
  height: 400px;
  width: 400px;
  background-color: #21b15a;
  margin-top: 7%;
  margin-left: 32%;
  background-image: url("vedant.png");
  background-size: cover;
  border-radius: 50%;
}
img {
  height: 400px;
}
#about {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}
#about-text {
  height: 50px;
  width: 100%;

  align-items: center;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #21b15a;
  text-decoration: underline black;
  font-weight: 600;
 
}
.my-image1 {
  background-color: rgb(180, 11, 11);
  width: 95%;
  height: 90%;
  margin-left: 2.5%;
  background-color: #21b15a;
  position: relative;
}
.my-image1::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.my-image,
.mydev {
  color: rgb(255, 255, 255);
  position: relative;
  z-index: 2;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 6%;
  padding-left: 3%;
}
.my-image,
.about-data {
  color: rgb(255, 255, 255);
  position: relative;
  z-index: 2;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 20%;
}
#buttons {
  background-color: #ffffff;
  height: 46px;
  z-index: 2;
  position: relative;
  width: 210px;
  margin-left: 3%;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 20px rgb(109, 109, 109);
}
.logo {
  height: 35px;
  width: 35px;
  margin-top: 4px;
  border-radius: 50%;
}
.fa-linkedin {
  font-size: 32px;
  cursor: pointer;
}
.fa-square-github {
  font-size: 32px;
  cursor: pointer;
}
.fa-square-behance {
  font-size: 32px;
  cursor: pointer;
}
.fa-square-behance:hover {
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
}
.fa-square-github:hover {
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
}
.fa-linkedin:hover {
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
}
.my-image,
.mydev:hover {
  color: rgb(151, 151, 151);
}
.my-image,
.about-data:hover {
  text-decoration: underline rgb(151, 151, 151);
}

.technical-data{
  /* background-color: rgb(233, 129, 2); */
  height: 40%;
 
  
}
.skilltext{
  display: flex;
  height: 40px;
  /* background-color: rgb(226, 13, 13); */
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding-left: 25px;
  font-size: 20px;
  font-size: 25px;
  margin-top: 20px;

}
#main-data{
  height: 172px;
  width:140px;
  background-color: rgb(255, 255, 255);
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  margin-left: 25px;
  box-shadow: 1px 1px 10px rgb(124, 124, 124);
  margin-top: 20px;
}
.skill-logo{
  height: 80px;
  width: 80px;
  /* background-color: azure; */
  border-radius: 50%;
 
  background-size: cover;

  margin-top: 20px;

}

#skill-show{
  text-align: center;
  margin-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold ;
  
}
.elements{
  display: flex;
  margin-left: 20px;
  margin-top: 20px;



}
.html-logo{
   background-image: url('skills/html-svgrepo-com.svg');
}
.css-logo{
   background-image: url('skills/css-3-svgrepo-com.svg');
}
.js-logo{
   background-image: url('skills/javascript-svgrepo-com.svg');
}
.python-logo{
   background-image: url('skills/python.png');
}
.flask-logo{
   background-image: url('skills/Flask.png');
}
.django-logo{
   background-image: url('skills/django.png');
}
.mysql-logo{
   background-image: url('skills/mysql-logo-svgrepo-com.svg');
}
.github-logo{
   background-image: url('skills/github-142-svgrepo-com.svg');
}
.html-logo{
   background-image: url('skills/html-svgrepo-com.svg');
}
.technical-data{
    margin-bottom: 30px;
}

.elements{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}
.photoshop-logo{
  background-image:url('skills/photoshop-svgrepo-com.svg');
  
}
.illustrator-logo{
  background-image:url('skills/adobe-illustrator-cc-logo-svgrepo-com.svg');
}
.canva-logo{
  background-image:url('skills/canva-svgrepo-com.svg');
}
.figma-logo{
  background-image:url('skills/figma-svgrepo-com.svg');
}
.adobexd-logo{
  background-image:url('skills/adobe-xd-logo-svgrepo-com.svg');
}
.main-data{
    height:172px;
    width:140px;
    background:white;
    border-radius:15px;
    box-shadow:1px 1px 10px rgb(124,124,124);
    display:flex;
    flex-direction:column;
    align-items:center;
}

.skill-show{
    margin-top:15px;
    font-weight:bold;
}

#skills{
     width: 100%;
  height: 92vh;
    background-color: bisque;
    padding-bottom: 50px;
}
#projects-box{
  width: 100%;
  height: 100vh;

}
#project-outer{

  width: 100%;
  height: 92%;
  display: flex;
  justify-content: center;
  align-items: center;

background-color: rgb(241, 241, 241);

}
#project-inner{

    width: 1200px;
  height:350px;
  display: flex;
  justify-content: center;
  gap: 90px;

  
}
#project-inner1{
 
  width: 22%;
  height:100%;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
  background-color: white;
 
}
#project-inner2{
 
  width: 22%;
  height:100%;
    border-radius: 10px;
      box-shadow: 1px 1px 10px rgb(102, 100, 100);
        background-color: white;
          box-shadow: 1px 1px 10px rgb(102, 100, 100);
}
.image-pro{
  width: 100%;
  height: 60%;
  background-color: bisque;
}
.weather-img{
  background-image: url('skills/Capture1.JPG');
  background-size: cover;
    border-radius: 10px;
}
.travel-img{
  background-image: url('skills/saved.JPG');
  background-size: cover;
    border-radius: 10px;
}
.inner-main{

margin-top: 10px;
margin-left: 8px;
}
.inner-skills{

margin-left: 8px;
margin-top: 10px;
}
.link{
  margin-left: 8px;
margin-top: 15px;
height: 30px;
width: 75px;

background-color: rgb(91, 29, 163);
border: none;
border-radius: 5px;
color: white;
}
.inner-main{
  font-family: Arial, Helvetica, sans-serif;
}
#contact-page{

  height: 100vh;
  width: 100%;
}
#contact-inner{
  width: 100%;
  height: 93vh;
 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
#right-form{
height: 500px;
width: 500px;
background-color: aqua;
}
#left-text{
height: 500px;
width: 500px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#contact-text{
  color: rgb(209, 120, 12);
  font-family:cursive;
}
#contact-text{
  margin-top: 20px;
  margin-left: 20px;
  font-size: 40px;
}
#my-text{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-top: 10px;
  color: rgb(129, 129, 129);
}
#head-form{
  background-color: #21b15a;
  height: 45px;
  width: 100%;
  font-family:'Times New Roman', Times, serif;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 25px;
}
#body-form{
  height: 92%;
  width: 100%;
  background-color: grey;
}